<!DOCTYPE html>
<html lang="it">
    <head>
      <title></title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <header>
        <div class="site-header__wrapper">
          <h1>Editorial Office</h1>
          <h2>UniVersoMe</h2> 
        </div>
      </header>
      <main>
        <section>
          <div class="site-main__wrapper">
            <div class="site-main__avatar"></div>
            <div class="site-main__user-info">
              <h1>Name Surname</h1>
              <h2>Role</h2>
            </div>
            <div class="site-main__authorized">
              <p> Access allowed! </p>
            </div>
          </div>
        </section>
      </main>
      <footer>
        <div class="site-footer_wrapper">
          <p>Testata multiforme degli studenti UniMe</p>
        </div>
      </footer>
    </body>
</html>
