<!DOCTYPE html>
<html lang="it">
<head>
  <title>UniVersoMe Member</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% if members|length > 0 %}
  <ul id="navigation">
    {% for member in members %}
        <li>
          <div class="card">
          {% if member.name %}
          <h1>{{ member.name }}</h1>
          {% else %}
          <h1>Member not found</h1>
          {% endif %}
          {% if member.role %}
          <h2>{{ member.role }}</h2>
          {% else %}
          <h2>Member role not found</h2>
          {% endif %}
          <p>Access allowed</p>
          <a href="{{ member.student_id }}">{{ member.student_id }}</a>
          </div>
        </li>
    {% endfor %}
    </ul>
  {% else %}
  <div class="card">
    <h1>Member not found</h1>
    <h2>Member role not found</h2>
  </div>
  {% endif %}
</body>
</html>
